<!doctype html>
<html>
<head>	
	<title>Meadowlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.png" alt = "Meadowlark Travel" height = "128" width = "200"></header>
	{{{body}}}
</body>
</html>